<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to Springfield Brewery!
  </h1>
  <!-- <p>
    <img src="../../assets/images/duffgardens.jpg">
  </p> -->
</div>

<app-keg-list [childKegList]="masterKegList" (clickSender)="editKeg($event)" (pintSell)="sellPint($event)"></app-keg-list>
<app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEditing()"></app-edit-keg>
<app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
